<mat-card>
    <h2>{{isEditMode?'Edit Council':'New Council'}}</h2>
    <Form [formGroup]="councilForm" (ngSubmit)="onSubmit()">
  
      <mat-form-field class="full-width">
        <mat-label>Code</mat-label>
        <input matInput formControlName="CODE" required readonly="{{isEditMode? true:false}}"/>
        <mat-error *ngIf="councilForm.get('CODE')?.invalid">
          Code is Required (Max 4 characters).
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="COUNCIL" required>
        <mat-error *ngIf="councilForm.get('COUNCIL')?.invalid">
          Description is Required (Max 30 characters).
        </mat-error>
      </mat-form-field>
  
   
    
  <div class="form-actions">
    <button mat-raised-button color="warn"  type="submit" [disabled]="councilForm.invalid">
     {{isEditMode? 'Save Changes':'Add Council'}}
    </button>
    <button mat-raised-button color="warn"  (click)="router.navigate(['/shell/councilist'])"  type="button">
     Cancel
    </button>
  </div> 
    </Form>
  </mat-card>
      

